/*
    Main
*/

:root {
    --darkgreen: #61892F;
    --green: #86C232;
    --black: #222629;
    --grey: #474B4F;
    --light-grey: #6B6E70;
}

body {
    flex-direction: column;
    font-family: 'Ubuntu Mono', 'monospace';
    background-color: var(--black);
    transition: 0.5s;
    overflow: hidden;
}

/*
    Menu Dropdown
*/

#navbar-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#open-curtain {
    position: absolute;
    left: 2em;
    top: 1.5em;
    width: 4.5em;
    height: 4.5em;
    transition: 0.3s;
}

#open-curtain:hover {
    width: 5em;
    height: 5em;
}

/*
    Curtain Menu
*/

#curtain-menu {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 2;
    overflow: hidden;
    background-color: var(--green);
    filter: opacity(1);
    transition: 0.5s;
}

.curtain-content {
    position: relative;
    top: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curtain-content a {
    text-decoration: none;
    padding: 0.6em;
    font-size: 1.8em;
    color: var(--black);
    transition: 0.3s
}

.curtain-content a:hover {
    font-size: 2.4em;
}

#curtain-menu #close-curtain {
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 3.5em;
    transition: 0.3s;
}

#curtain-menu #close-curtain:hover {
    cursor: pointer;
    font-size: 4em;
}

/*
    Page Navigation Indicator
*/

#page-navigation-indicator {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 0.8em;
    left: 0.75em;
}

#page-container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#page-container::-webkit-scrollbar {
    width: 0;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    margin-left: 10em;
}

.vertical-line {
    border-left: var(--grey) 0.2em solid;
    height: 100px;
    margin: 0.5em 0 0.5em 0;
}

.vertical-text {
    position: relative;
    top: 42%;
    left: 100%;
    color: var(--light-grey);
}

.curr-page {
    border-left: var(--green) 0.2em solid;
}

/*
    Contact Icons
*/

#socials {
    float: right;
    list-style-type: none;
    display: flex;
    margin-right: 3em;
}

#socials li {
    padding: 1em 0.5em 0 0.5em;
}

#socials li img {
    width: 2.5em;
    height: 2.5em;
}

/*
    Footer
*/

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 1em 0 0 0;
    padding: 1em;
    color: var(--black);
    background-color: var(--darkgreen);
    z-index: 10;
}

/*
    Page 1
*/

#introduction {
    display: flex;
    flex-direction: column;
}

.header {
    color: white;
    font-size: 96px;
    margin: 4em 0 0 0;
}

#desc {
    font-size: 24px;
    color: var(--light-grey);
}

#desc p {
    margin: 0.5em 0 0 0;
}

.btn-important {
    font-size: 20px;
    background-color: var(--green);
    border-radius: 1em;
    color: black;
    padding: 1em 25.6em 1em 25.6em;
}

.btn-important:hover {
    background-color: var(--darkgreen);
}

.seperator {
    margin: 2em 0 2em 0;
    border: 1px var(--grey) solid;
    width: 70em;
}

/*
    Page 2
*/

